* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: sans-serif;
}
.Modal {
  display: none;
}
.Modal.show {
  display: block;
}
:root {
  --tw-bg-opacity: 1;
  --secondary-color: rgba(245, 245, 245, var(--tw-bg-opacity));
  --primary-color: #ffffff;
  --color-font: #000000;
  --border-color: #000000;
}
.dark_theme {
  --primary-color: rgba(31, 31, 31, 255);
  --secondary-color: rgba(0, 0, 0, 255);
  --color-font: #ffffff;
  --border-color: #ffffff;
}
.navbar {
  position: fixed;
  width: 100%;
  /* background-color: #fff; */
  background-color: var(--primary-color);
  color: var(--color-font);
  z-index: 10;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar-container {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom-width: 1px;
}
.container {
  max-width: 2520px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.navbar .navbar-container .container .content img {
  border-radius: 50%;
}

.search {
  border-width: 1px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 9999px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
}
.search:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding-left: 24px;
  padding-right: 24px;
}
.about {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding-left: 24px;
  padding-right: 24px;
  border-left-width: 1px;
  border-right-width: 1px;
  flex: 1 1 0%;
  text-align: center;
}

/* .user-menu {
  position: relative;
} */
.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.dashboard:hover {
  background-color: var(--secondary-color);
}
.dashboard {
  font-size: 14px;
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 9999px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
}

.icon {
  border-width: 1px;
  --tw-bg-opacity: 1;
  /* background-color: rgba(245, 245, 245, var(--tw-bg-opacity)); */
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  border-radius: 9999px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  padding: 7px 14px 7px 14px;
  position: relative;
}
.icon img {
  border-radius: 9999px;
  width: 30px;
  height: 30px;
}
.icon:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.Modal {
  position: absolute;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  width: 48vw;
  --tw-bg-opacity: 1;
  /* background-color: rgb(255 255 255 / var(--tw-bg-opacity)); */

  background-color: var(--primary-color);
  overflow: hidden;
  right: 20px;
  top: 80px;
  font-size: 14px;
  font-weight: 300;
}
.label-items {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.label-item {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.label-item:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.middle-item {
  border-radius: 9999px !important;
  /* light mode*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  /*dark modeA*/
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
}
.middle-item ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.middle-item ul li {
  text-decoration: none;
  list-style: none !important;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
}
.middle-item ul li:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  transition-property: all;
  background-color: #265eab;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  border-radius: 9999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

/* dark light  mode */
.dark_light_mode {
  border: 0.5px solid rgb(207, 207, 207);
  border-radius: 10px;
  padding: 8px;
}
#icon_dark {
  cursor: pointer;

  font-size: 20px;
}
/* dark mode */

@media (min-width: 1280px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 40px /* 40px */;
    padding-right: 40px /* 40px */;
  }
  .content {
    gap: 0px;
  }
  .Modal {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .Modal {
    width: 20%;
  }
}
@media (min-width: 1280px) {
  .Modal {
    width: 15%;
  }
}
@media (max-width: 768px) {
  .dashboard {
    display: none;
  }
  .middle-item {
    display: none;
  }
}
